configuration {
	modi: "run,drun";
	font: "Mononoki Nerd Font Regular 11";
	icon-theme: "Papirus";
	display-run: "Run: ";
	display-drun: "dRun: ";
}
@theme "/home/ides3rt/.config/rofi/themes/ides3rt-v1.rasi"
