configuration {
  modi: "drun,run,ssh,window,windowcd,combi,keys,filebrowser";
  font: "Roboto Mono Medium 10";
  icon-theme: "Papirus";
  display-drun: "Run";
  display-run: "Run";
  display-ssh: "SSH";
  display-window: "Windows";
}
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
